<View>

    <Header value="Select label and click the image to start" />
    <Image name="image" value="$image" zoom="true" />

    <PolygonLabels name="label" toName="image" strokeWidth="3" pointSize="small" opacity="0.9">


        <Label value="1" background="#FFA39E" />
        <Label value="2" background="#D4380D" />
        <Label value="3" background="#FFC069" />
        <Label value="4" background="#AD8B00" />
        <Label value="5" background="#D3F261" />
        <Label value="6" background="#389E0D" />
        <Label value="7" background="#5CDBD3" />
    </PolygonLabels>

</View>